{
    "presets": [
        "@babel/preset-env",        
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "react-html-attrs",
        "@babel/plugin-proposal-class-properties"
    ]
}